.container {
  display: flex;
  

  align-items: center;
  margin: auto;
  gap: 2rem;
  margin-left: 3rem;
}

.search-input {
  display: flex;
  margin-bottom: 20px;
  width: 300px;
  margin-top: 20px;

  input {
    color: #030303;
  }
}

.date-input {
  width: 300px;

  mat-form-field {
    width: 100%;
  }

  input {
    color: #fff;
  }
}

.download {
  background-color: green;
  color: white;
}

table {
  width: 100%;
}

