mat-toolbar {
  background: #38bcf0;
  color: white;
}

mat-sidenav {
  width: 200px;
  padding: 16px;
}

mat-sidenav-container {
  height: 100vh;
}

.menu-button {
  align-items: center;
  font-size: 1rem;

  mat-icon {
    margin-right: 8px;
  }
}

.sidebar {
  top: 0;
  left: 0;
  height: 100%;
  width: 275px;
  padding: 10px 14px;
  background: rgb(254, 255, 255);
  z-index: 100;
  border-right: 1px solid #08a9e9(0, 12, 255, 0.96);
  &.close {
    width: 88px;
  }

  .text {
    font-size: 15px;
    font-weight: 500;
    color: black;

    white-space: nowrap;
    opacity: 1;

    &.close {
      opacity: 0;
    }
  }

  .image {
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  li {
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 60px;
      font-size: 20px;
    }

    .icon,
    .text {
      color: black;
      transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    }
  }

  header {
    position: relative;
  }

  .image-text img {
    width: 40px;
    border-radius: 6px;
  }

  header .image-text {
    display: flex;
    text-align: center;
        flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
  }

  .header-text {
    display: flex;
    flex-direction: column;

    .name {
      font-weight: 600;
    }

    .title {
      margin-top: -2px;
    }
  }

  header .toggle {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background:#38bcf0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: black;
    font-size: 22px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .menu {
    margin-top: 35px;
  }

  li a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);

    &:hover {
      background: #38bcf0;
    }

    &:hover .icon,
    &:hover .text {
      color: white;
    }

    &.active {
      background: #38bcf0;

      
    }

     &.active .text{
      color: white;
      
      
    }
  }

  .menu-bar {
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .mode {
      position: relative;
      border-radius: 6px;
      background: #38bcf0;

      .moon-sun {
        height: 50px;
        width: 60px;
        display: flex;
        align-items: center;
      }

      i {
        position: absolute;
        transition: cubic-bezier(0.075, 0.82, 0.165, 1);
      }

      .toggle-switch {
        position: absolute;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        min-width: 60px;
        cursor: pointer;
        border-radius: 6px;
        background: rgb(230, 230, 230);
        transition: cubic-bezier(0.075, 0.82, 0.165, 1);
      }
    }
  }
}

body.dark {
  .switch::before {
    left: 24px;
  }
}

.home {
  position: relative;
  left: 25vh;
  height: 250px;
  width: calc(100% - 250px);
  background:#38bcf0;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);

  .text {
    font-size: 30px;
    font-weight: 500;
    color: white;
    padding: 8px 40px;
  }

  .bottom-content {
    border-radius: 6px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    background: #fff;

    li .icon,
    li .text {
      color: white;
      transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    }

  
  }


}



.bottom {
    display: flex;
    position: relative;
        flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
  }

  .image-text img {
    width: 40px;
    border-radius: 6px;
  }

  .bottom .image-text {
    display: flex;
    text-align: center;
  }

  .header-text {
    display: flex;
    flex-direction: column;

    .name {
      font-weight: 600;
    }

    .title {
      margin-top: -2px;
    }
  }
