<mat-sidenav-container>
  <mat-sidenav class="sidebar" #sidenav="matSidenav">
    <header>
      <div class="image-text">
        <span class="image">
          <img src="../../../assets/sidebar/PPV.png" alt="logo" />
        </span>
        <div class="text header-text">
          <span class="name">PlateProVision</span>
          <span class="title">System</span>
        </div>
      </div>
    </header>

    <div class="menu-bar">
      <div class="menu">
        <ul class="menu-links">
          <li class="nav-link">
            <a
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              routerLink="/home/activities"
            >
              <button mat-icon-button><mat-icon>apps</mat-icon></button>
              <span class="text nav-text">Activities</span>
            </a>
          </li>

          <li class="nav-link">
            <a
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              routerLink="/home/guards"
            >
              <button mat-icon-button><mat-icon>security</mat-icon></button>
              <span class="text nav-text">Guards</span>
            </a>
          </li>

          <li class="nav-link">
            <a
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              routerLink="/home/owners"
            >
              <button mat-icon-button><mat-icon>person</mat-icon></button>
              <span class="text nav-text">Owners</span>
            </a>
          </li>

          <li class="nav-link">
            <a
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              routerLink="/home/vehicles"
            >
              <button mat-icon-button><mat-icon>directions_car</mat-icon></button>
              <span class="text nav-text">Vehicles</span>
            </a>
          </li>

          <li class="nav-link">
            <a
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              routerLink="/home/admins"
            >
              <button mat-icon-button><mat-icon>group</mat-icon></button>
              <span class="text nav-text">Admins</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="bottom">
        <div class="image-text">
          <span class="image">
            <img src="../../../assets/sidebar/profile.png" alt="logo" />
          </span>
          <div class="text header-text">
            <span class="name">Frime Lustre</span>
            <span class="title">Super Admin</span>
          </div>
        </div>
      </div>
    </div>
    <!-- </nav> -->
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
